doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title exam_code
    // CSS
    link(rel='stylesheet', href='/stylesheets/assets/bootstrap/css/font.css')
    link(rel='stylesheet', href='/stylesheets/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/assets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/assets/css/form-elements.css')
    link(rel='stylesheet', href='/stylesheets/assets/css/style.css')
  body
    // Top content
    .top-content
      .inner-bg
        .container
          .row
            .col-sm-8.col-sm-offset-2.text
              h1
                strong Add Question
          .row
            .col-sm-3
              a.btn.btn-info(href='/admin/home', role='button') Go Back!
            .col-sm-6.form-box
              .form-top
                .form-top-left
                  h3 Add new Question
              .form-bottom
                form.login-form(role='form', action='create_question', method='post')
                  .form-group
                    label.sr-only(for='form-question') Question
                    input#form-question.form-question.form-control(type='text', name='question', placeholder=question_full.question)
                  .form-group
                    label.sr-only(for='form-optionA') Option A
                    input#form-optionA.form-optionA.form-control(type='text', name='optionA', placeholder=question_full.optionA)
                  .form-group
                    label.sr-only(for='form-optionB') Option B
                    input#form-optionB.form-optionB.form-control(type='text', name='optionB', placeholder=question_full.optionB)
                  .form-group
                    label.sr-only(for='form-optionC') Option C
                    input#form-optionC.form-optionC.form-control(type='text', name='optionC', placeholder=question_full.optionC)
                  .form-group
                    label.sr-only(for='form-optionD') Option D
                    input#form-optionD.form-optionD.form-control(type='text', name='optionD', placeholder=question_full.optionD)
                  .form-group
                    p Key
                    label.sr-only(for='form-key') Key

                    select(name='key')
                      option(value='A') A
                      option(value='B') B
                      option(value='C') C
                      option(value='D') D

                  .form-group
                    label.sr-only(for='form-exam_code') Exam Code
                    input#form-exam_code.form-exam_code.form-control(type='hidden', name='exam_code', value=exam_code)
                  button.btn(type='submit') Add
            .col-sm-3
              
    // Javascript
    script(src='/stylesheets/assets/js/jquery-1.11.1.min.js')
    script(src='/stylesheets/assets/bootstrap/js/bootstrap.min.js')
    script(src='/stylesheets/assets/js/jquery.backstretch.min.js')
    script(src='/stylesheets/assets/js/scripts.js')
    //if lt IE 10
      script(src='assets/js/placeholder.js')